<html>
<head>
    <title></title>

     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
     <link rel="stylesheet" href="static/styles.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script src= "https://code.jquery.com/jquery-3.5.1.js"></script>
     <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="static/loading.js"></script>


<!--    <script>
        $(document).ready( function () {
          $("#myTable").DataTable();
        });
    </script>-->



</head>

<body>

<ul>
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('display') }}">Querying Page</a></li>
    <li><a href="{{ url_for('config') }}">Config Page</a></li>
</ul>

  <section class="contact-form">
    <h1>Querying Form</h1>
    <p>Please fill the following form with the required details.</p>

    <form id="queryForm">
    <!--  <div class="input-group">
        <input id="salutation-mr" name="salutation" type="radio" value="Mr."/>
        <label class="inline" for="salutation-mr">Mr.</label>

        <input id="salutation-mrs" name="salutation" type="radio" value="Mrs."/>
        <label class="inline" for="salutation-mrs">Mrs.</label>

        <input id="salutation-ms" name="salutation" type="radio" value="Ms."/>
        <label class="inline" for="salutation-ms">Ms.</label>
      </div> -->

      <div class="input-group">
        <label for="name">User Name</label>
        <input id="username" name="username" type="text"/>
      </div>

      <div class="input-group">
        <label for="usergroup">User Group</label>
        <input id="usergroup" name="usergroup" type="text" />
      </div>

       <div class="input-group">
        <label for="websitename">Website Name</label>
        <input id="website" name="website" type="text"/>
      </div>

      <div class="input-group">
        <label for="startdate">Start Date</label>
        <input id="startdate" name="startdate" type="date"/>
      </div>

      <div class="input-group">
        <label for="starttime">Start Time</label>
        <input id="starttime" name="starttime" type="time"/>
      </div>

      <div class="input-group">
        <label for=endtdate">End Date</label>
        <input id="enddate" name="enddate" type="date"/>
      </div>

      <div class="input-group">
        <label for="endtime">End Time</label>
        <input id="endtime" name="endtime" type="time"/>
      </div>

        <div class="input-group">
        <label for="Email">Email Id:</label>
        <input id="email" name="email" type="email"/>
      </div>

<!--       CODE FOR DROP DOWN MENU
     <div class="input-group">
        <label for="subject">How can I help you?</label>
        <select id="subject" name="subject">
          <option>I have a problem.</option>
          <option>I have a general question.</option>
        </select>
      </div>
-->

<!--     CODE FOR  COMMENT BOX
      <div class="input-group">
        <label for="problem">Elaborate the exact problem you are facing</label>
        <textarea id="problem" name="problem" rows="6" cols="65"></textarea>
      </div>
-->

      <div class="input-group">
        <p class="group-label">   Please select the Fields of your choice:</p>
        <input id="uid" name="fields" type="checkbox" value="uid" checked/>
        <label class="inline" for="fields-userid">User ID</label>
        <input id="userName" name="fields" type="checkbox" value="userName" checked/>
        <label class="inline" for="fields-username">User Name</label>
        <input id="userGroup" name="fields" type="checkbox" value="userGroup" checked/>
        <label class="inline" for="fields-usergroup">User Group</label>
        <input id="Website" name="fields" type="checkbox" value="website" checked/>
        <label class="inline" for="fields-websitename">Website Name</label><br>
        <input id="timestamp" name="fields" type="radio" value="timestamp" checked/>
        <label class="inline" for="fields-timestamp">Time Stamp</label>
          <input id="timestamp" name="fields" type="radio" value="Hits" />
        <label class="inline" for="fields-timestamp">Display Hits</label>
      </div>

<!--    CODE FOR DIRECTLY INSERTING VALUES IN THE DISPLAYED JSON FORMAT
        <input name="secret" type="hidden" value="1b3a9374-1a8e-434e-90ab-21aa7b9b80e7"/>
-->

      <button type="submit">Send It!</button>
    </form>
  </section>
    <div class="results">
    <h2>Form Data</h2>
    <pre></pre>
  </div>
  <table id="myTable" class="display" width="100%">
      <thead>
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      </thead>
</table>


<script type="text/javascript" src = "static/app.js">

</script>

</body>

</html>
